[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu126"
verify_ssl = true
name = "pytorch-cu126"

[packages]
depth-pro = {file = ".", editable = true}
torch = {version = "==2.11.0+cu126", index = "pytorch-cu126"}
torchvision = {version = "==0.26.0+cu126", index = "pytorch-cu126"}
ultralytics = "*"
opencv-python = "*"
open3d = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
